body{
    background-color:black;
    text-align: center;
}
*{
    margin:0;
    padding:0;
}
.title-blk{
    background-color:pink;
    height:70px;
    color: navy;
}
h1{
    padding-top: 20px;
    color: rgb(52, 2, 2);
}
.rps{
    width: 800px;;
    height: 250px;
    margin-left: 230px;
    margin-top: 40px;
}
.irps:hover{
   border-color: aliceblue;
   border-width: thick;
}
.irps{
    width: 200px;
    height: 200px;
    margin-right: 20px;
    border-radius: 100%;
    border: 5px solid transparent;
}
.ui{
    color:aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;  
    font-size: 30px;
    margin-bottom: 30px;
}
#rst-btn{
    border-radius: 5px;
    background-color: ghostwhite;
    color: darkblue;
    margin-top:10px;
    height:40px;
    width: 150px;
}
.score{
    color:aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;  
    font-size: 30px;
    margin-bottom: 30px;
}

